{% extends "base.html.twig" %}


{% block title %}

    Détail de l'article

{% endblock %}    

{% block body %}

   <h1 class="text-center">{{ articleTwig.title }}</h1>
    <div class="col-md-8 mx-auto">
          <div class="card mb-4 shadow-sm">
          <img src="{{ articleTwig.image|replace({'600/400' : '1000/300'}) }}">

            <div class="card-body">
              <p class="card-text">{{ articleTwig.content|striptags }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
              
                </div>
                <small class="text-muted">Posté le {{ articleTwig.createdAt|date('d/m/Y') }}</small>
              </div>
            </div>

{% endblock %}    